{% extends "blog/base.html" %}
{% load static %}

{% block start %}



<div class="contact">
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="name" id="name" placeholder="Name:">
        <input type="email" name="email" id="email" placeholder="email" required>
        <input type="text" placeholder="Subject:" id="subject" name="subject" required>
        <textarea id="message" placeholder="Message:" name="message" required></textarea>
        <input type="submit" value="Submit">
    </form>
</div>



  
{% endblock start %}